<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rha.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdopcionActivity"
            android:label="@string/title_activity_adopcion" >
        </activity>
        <activity
            android:name=".PerdidoActivity"
            android:label="@string/title_activity_perdido" >
        </activity>
        <activity
            android:name=".AdopcionPublicarActivity"
            android:label="@string/title_activity_adopcion_publicar" >
        </activity>
        <activity
            android:name=".AdopcionBuscarActivity"
            android:label="@string/title_activity_adopcion_buscar" >
        </activity>
        <activity
            android:name=".PerdidoPublicarActivity"
            android:label="@string/title_activity_perdido_publicar" >
        </activity>
        <activity
            android:name=".PerdidoBuscarActivity"
            android:label="@string/title_activity_perdido_buscar" >
        </activity>
        <activity
            android:name=".RegitrarDatosCuentaActivity"
            android:label="@string/title_activity_regitrar_datos_cuenta" >
        </activity>
        <activity
            android:name=".RegistrarDatosPersonalesActivity"
            android:label="@string/title_activity_registrar_datos_personales" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
    </application>

</manifest>
